body {
  body {
      background-image: url('fondo.jpeg'); 
      background-size: cover;            
      background-position: center;       
      background-repeat: no-repeat;      
      height: 100vh;                    
      margin: 0;
      font-family: 'Comic Sans MS', cursive, sans-serif;
    }
}

h1 {
  text-align: center;
  color: #0077aa;
}

.question {
  margin-bottom: 20px;
  background-color: #cedff5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.question h3 {
  margin-bottom: 10px;
}

.question label {
  display: block;
  margin: 5px 0;
}

#submitBtn {
  background-color: #90afbd;
  color: rgb(151, 182, 229);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}

#result {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}
