body {
background-image: url('fondo3.jpeg'); 
  background-size: cover;            
  background-position: center;       
  background-repeat: no-repeat;      
  height: 100vh;                    
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

header {
  background-color: #6da3f5;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #6da3f5;
  font-size: 20px;
}

.logo-text {
  margin-top: 5px;
  font-size: 16px;
  color: white;
}

.auth-buttons button {
  background-color: white;
  color: #6da3f5;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #dbe9ff;
}

main {
  padding: 40px 20px;
  text-align: center;
}

.welcome-box {
  max-width: 800px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #39b7e9;
}

p {
  font-size: 18px;
  color: #0e0d0d;
}

.volver {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #9ea3e5;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.volver:hover {
  background-color: #6951f1b9;
}

.role-buttons {
  margin-top: 40px;
}

.role-buttons button {
  margin: 0 20px;
  padding: 12px 25px;
  background-color: #a0c4ff;
  color: #003566;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.role-buttons button:hover {
  background-color: #6ea8fe;
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.info-box {
  background-color: #dbe9ff;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info-box h3 {
  color: #2b6cb0;
  margin-bottom: 10px;
}

.info-box p {
  font-size: 15px;
  color: #1c1c1c;
}

@media (max-width: 768px) {
  .info-boxes {
    flex-direction: column;
    align-items: center;
  }

  .role-buttons button {
    margin: 10px auto;
    display: block;
  }

}
form {
  margin-top: 20px;
}

form input {
  padding: 10px;
  width: 80%;
  border: 1px solid #b3c9ff;
  border-radius: 8px;
  margin-bottom: 10px;
}

form button {
  background-color: #6da3f5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #4b89e3;
}
.boton-catalogo {
  display: inline-block;
  margin-top: 10px;
  background-color: #6da3f5;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.boton-catalogo:hover {
  background-color: #4b89e3;
}

